body {
    text-align: center;
    background-image: url(morpion.png);
}

#jeu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Colonnes de taille flexible */
    width: 90%; /* Utilisation d'une largeur relative */
    max-width: 400px; /* Limitation de la largeur maximale */
    margin: auto; /* Centre la grille horizontalement */
    gap: 5px; /* Ajout d'un espacement entre les cases */
}

.case {
    border: 1px solid red;
    height: 100px;
    line-height: 100px;
    font-size: 5vw; /* Utilisation d'une taille de police relative à la largeur de la fenêtre */
    background: white;
}

h1 {
    color: blue;
}

button {
    color: blue;
}

#scoreX,
#scoreO {
    color: red;
}
details{
    color: red;
}
p{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px; /* Ajoutez une marge si nécessaire */
    background-color: black; /* Couleur de fond pour le footer */
    width: 20%; /* Le footer occupera la largeur complète de la fenêtre */
    text-align: left; 
}
p{
    color: red;
}
